extends layout

block content
	h1 Biergarten
	
	form#new-beer
		h2 Add a beer
		.form-group
			input#beer-name.form-control(type="text", placeholder="Beer Name...")
		.form-group
			input#beer-abv.form-control(type="number", step="any", placeholder="Beer ABV...")
		.form-group
			input#beer-type.form-control(type="text", placeholder="Beer Type...")
		.form-group
			input#beer-brewer.form-control(type="text", placeholder="Beer Brewer...")
		.form-group
			input.btn.btn-primary(type="submit", value="Add Beer")
	
	h2 The Beers
	ul#beer-list
		for beer in beers
			li.beer(data-id="#{beer._id}")
				strong= beer.name
				| &nbsp;
				a.view(href="#") view
				|  - 
				a.edit(href="#") edit
				|  - 
				a.delete(href="#") delete


	#view-modal.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal")
						span &times;
					h4.modal-title View a Beer
				.modal-body
					h5.beer-name Beer Name
					em.beer-abv ABV
					p.beer-type Type
					p.beer-brewer Brewer
					
					
	#edit-modal.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal")
						span &times;
					h4.modal-title Edit a Beer
				form#edit-form
					input.beer-id(type="hidden")
					.modal-body
						.form-group
							input.beer-name.form-control(type="text", placeholder="Beer Name...")
						.form-group
							input.beer-abv.form-control(type="number", step="any", placeholder="Beer ABV...")
						.form-group
							input.beer-type.form-control(type="text", placeholder="Beer Type...")
						.form-group
							input.beer-brewer.form-control(type="text", placeholder="Beer Brewer...")
					
					.modal-footer
						input.btn.btn-primary(type="submit", value="Save Changes")
